.vscode/**
.vscode-test/**
node_modules/**
src/**
*.vsix
tsconfig.json
package-lock.json
tmp*
.gitignore
examples/**
docs/**
local-archive/**
assets/**
multi-templates/**
out/**/*.map

!assets/icon.png
!assets/banner.png
!assets/mermaid-example.png
!multi-templates/reference_english_paper.docx
!multi-templates/reference_chinese_paper.docx
