.vscode/**
.vscode-test/**
node_modules/**
src/**
*.vsix
tsconfig.json
package-lock.json
tmp*
.gitignore
examples/**
assets/**
journal-templates/**
out/**/*.map

!assets/icon.png
!assets/banner.png
!assets/mermaid-example.png
!journal-templates/reference_english_csci.docx
!journal-templates/reference_cssci_三刊通用.docx
