.vscode/**
.vscode-test/**
node_modules/**
src/**
*.vsix
tsconfig.json
package-lock.json
tmp*
.gitignore
examples/**
docs/**
local-archive/**
assets/**
scripts/**
multi-templates/**
out/**/*.map

!assets/icon.png
!assets/banner.png
!assets/mermaid-example.png
!multi-templates/reference_english_business.docx
!multi-templates/reference_english_academic.docx
!multi-templates/reference_english_technical.docx
!multi-templates/reference_chinese_business.docx
!multi-templates/reference_chinese_academic.docx
!multi-templates/reference_chinese_technical.docx
